/* --------------------- *
   common color class 
*---------------------- */
.bg-white-primary {
    background-color: #eef5f4;
}

.text-dark-soft {
    color: #333;
}

.text-dark-1 {
    color: #444;
}

.bg-dark-2 {
    background-color: #222;
}