/* ---------------------------- 
      (max-width:992px)
------------------------------ */
@media only screen and (max-width: 992px) {
    .case-studies-box {
        height: 342px;
    }

    .header-wrap .navbar .gap-40 {
        gap: 20px;
    }

    .case-studies-box {
        min-height: 565px;

        .box-footer {
            flex-direction: column;
            align-items: flex-start;
            min-height: 186px;

            p {
                max-width: 100%;
            }
        }
    }
}

/* ---------------------------- 
      (max-width:768px)
------------------------------ */
@media only screen and (max-width: 768px) {
    .header-wrap .navbar {
        padding: 18px 0;

        .nav-link {
            margin: auto;
        }
    }

    .page-content {
        padding-top: 71px;
    }

    .section {
        padding: 80px 0px;
    }

    .header-title {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .case-studies-box {
        max-height: 100%;
        height: 100%;
    }

    .gap-30 {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
    }

    .text-h4 {
        font-size: 30px;
    }

    .article-container {
        .main-img {
            height: 300px;
        }
    }
}

/* ---------------------------- 
      (max-width:576px)
------------------------------ */
@media only screen and (max-width: 576px) {
    .section {
        padding: 60px 0px;
    }

    .mb-60,
    .mb-50,
    .mb-65,
    .mb-70,
    .mb-80 {
        margin-bottom: 40px;
    }

    .pt-67,
    .pt-105 {
        padding-top: 37px;
    }

    .pb-97,
    .pb-162 {
        padding-bottom: 67px;
    }

    .header-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .header-sub-title {
        font-size: 16px;
    }

    .common-btn {
        padding: 15px 20px;
    }

    .text-h4 {
        font-size: 25px;
    }

    .case-studies-box {
        min-height: 480px;

        .box-footer {
            padding: 20px;
            min-height: 200px;

            p {
                overflow: visible;
                display: block;
            }
        }
    }

    .article-container {
        .main-img {
            height: 250px;
        }

        .title {
            min-height: 50px;
        }
    }

    .article-contant {
        .big-img {
            max-width: 100%;
        }
    }

    .contact-form {
        .rc-anchor-container {
            width: 250px;

            .rc-anchor-normal .rc-anchor-checkbox-label {
                width: 101px;
            }
        }
    }
}