/* -------------------------- *
   common font-family class 
*-------------------------- */
.font-dm {
    font-family: DM Sans;
}

.font-lora {
    font-family: Lora;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

/* ----------------------- *
   common typography class 
*----------------------- */

.header-title {
    text-align: center;
    font-family: Lora;
    font-size: 64px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 20px;
}

.header-sub-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.text-h3 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.faq-title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 180%;
    letter-spacing: 0.6px;
}

h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.9px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0.16px;
}

.text-12 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
}

/* -------------------------- *
   common font weight class 
*-------------------------- */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}