.section {
   padding: 100px 0px;
}

/* ----------------------- *
   common padding class 
*----------------------- */
.pt-67 {
   padding-top: 67px;
}

.pt-105 {
   padding-top: 105px;
}

.pb-90 {
   padding-bottom: 90px;
}

.pb-97 {
   padding-bottom: 97px;
}

.pb-162 {
   padding-bottom: 162px;
}

.py-50 {
   padding: 50px 0px;
}

/* --------------------- *
   common margin class 
*---------------------- */
.mb-20 {
   margin-bottom: 20px;
}

.mb-40 {
   margin-bottom: 40px;
}

.mb-50 {
   margin-bottom: 50px;
}

.mb-60 {
   margin-bottom: 60px;
}

.mb-65 {
   margin-bottom: 65px;
}

.mb-70 {
   margin-bottom: 70px;
}

.mb-80 {
   margin-bottom: 80px;
}

/* --------------------- *
   common gap class 
*---------------------- */
.gap-30 {
   --bs-gutter-x: 30px;
   --bs-gutter-y: 30px;
}

.row-gap-65 {
   row-gap: 65px;
}

/* --------------------- *
   common width class 
*---------------------- */
.mw-540 {
   max-width: 540px;
}

.mw-650 {
   max-width: 650px;
}

.mw-800 {
   max-width: 800px;
}

.mw-900 {
   max-width: 900px;
}

.mw-1020 {
   max-width: 1020px;
}