.bg-yeel {
    background-color: #4155E6;

    img {
        margin-top: -1px;
    }
}

.bg-htl {
    background: linear-gradient(315deg, #20B1C1 0%, #0168C8 100%);
}

.text-h5 {
    color: #444;
    font-family: Lora;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 15px;
}

.img-mb-1 {
    margin-bottom: -1px;
}

.servio-bg {
    background-color: #1c1c1c;
}
.lgd-bg-blue {
    background-color: #E5ECF2;
}