.vision .goal::after {
    content: "";
    width: 161px;
    height: 161px;
    border-radius: 50%;
    transition: all 0.6s;
    opacity: 0.3;
  }
  
  .vision .goal-main:hover .goal:after {
    position: absolute;
    top: -66px;
    left: 30px;
    transform: translate(50%, 50%);
    background-color: #fff !important;
    opacity: 0.1;
  }
  
  .vision .goal::before {
    content: "";
    width: 208px;
    height: 208px;
    border-radius: 50%;
    transition: all 1s;
    opacity: 0.3;
  }
  
  .vision .goal-main:hover .goal:before {
    position: absolute;
    top: -98px;
    left: -17px;
    transform: translate(50%, 50%);
    background-color: #fff !important;
    opacity: 0.1;
  }
  
  .vision .goal-main::before {
    content: "";
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: all 1.5s;
    opacity: 0.3;
  }
  
  .vision .goal-main:hover:before {
    position: absolute;
    top: -134px;
    left: -47px;
    transform: translate(50%, 50%);
    z-index: 1;
    background-color: #fff !important;
    opacity: 0.1;
  }
  
  .vision .goal-main:hover .goal p {
    color: #fff !important;
  }
  .vision .goal-main:hover .goal h5 {
    color: #fff !important;
  }
  
  /* Media query */
  @media (min-width: 1200px) and (max-width: 1300px) {
    .vision .goal-main:hover .goal:after {
      top: -66px;
      left: 10px;
    }
  
    .vision .goal-main:hover .goal:before {
      top: -98px;
      left: -37px;
    }
  
    .vision .goal-main:hover:before {
      top: -134px;
      left: -67px;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .vision .goal-main:hover .goal:after {
      left: -18px;
    }
  
    .vision .goal-main:hover .goal:before {
      left: -67px;
    }
  
    .vision .goal-main:hover:before {
      left: -97px;
    }
  }
  @media (min-width:768px ) and (max-width: 992px) {
    .vision .goal-main:hover .goal:after {
      left: -4px;
    }
  
    .vision .goal-main:hover .goal:before {
      left: -53px;
    }
  
    .vision .goal-main:hover:before {
      left: -83px;
    }
  }
  @media (min-width:544px) and (max-width: 768px) {
    .vision .goal-main:hover .goal:after {
      top: -56px;
      left: 78px;
    }
  
    .vision .goal-main:hover .goal:before {
      top: -88px;
      left: 31px;
    }
  
    .vision .goal-main:hover:before {
      top: -125px;
      left: 2px;
    }
  }
  @media (min-width:430px) and (max-width: 544px) {
    .vision .goal-main:hover .goal:after {
      left: 46px;
    }
  
    .vision .goal-main:hover .goal:before {
      left: -2px;
    }
  
    .vision .goal-main:hover:before {
      left: -32px;
    }
  }
  @media (min-width:320px) and (max-width: 430px) {
    .vision .goal-main:hover .goal:after {
      left: 1px;
    }
  
    .vision .goal-main:hover .goal:before {
      left: -48px;
    }
  
    .vision .goal-main:hover:before {
      left: -79px;
    }
  }
  