@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  color: #000;
  line-height: normal;
}

.section {
  padding: 100px 0px;
}

/* ----------------------- *
   common padding class 
*----------------------- */
.pt-67 {
  padding-top: 67px;
}

.pt-105 {
  padding-top: 105px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-97 {
  padding-bottom: 97px;
}

.pb-162 {
  padding-bottom: 162px;
}

.py-50 {
  padding: 50px 0px;
}

/* --------------------- *
   common margin class 
*---------------------- */
.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

/* --------------------- *
   common gap class 
*---------------------- */
.gap-30 {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 30px;
}

.row-gap-65 {
  row-gap: 65px;
}

/* --------------------- *
   common width class 
*---------------------- */
.mw-540 {
  max-width: 540px;
}

.mw-650 {
  max-width: 650px;
}

.mw-800 {
  max-width: 800px;
}

.mw-900 {
  max-width: 900px;
}

.mw-1020 {
  max-width: 1020px;
}

/* -------------------------- *
   common font-family class 
*-------------------------- */
.font-dm {
  font-family: DM Sans;
}

.font-lora {
  font-family: Lora;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

/* ----------------------- *
   common typography class 
*----------------------- */
.header-title {
  text-align: center;
  font-family: Lora;
  font-size: 64px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 20px;
}

.header-sub-title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.faq-title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: 0.6px;
}

h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.9px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.16px;
}

.text-12 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

/* -------------------------- *
   common font weight class 
*-------------------------- */
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/* --------------------- *
   common color class 
*---------------------- */
.bg-white-primary {
  background-color: #eef5f4;
}

.text-dark-soft {
  color: #333;
}

.text-dark-1 {
  color: #444;
}

.bg-dark-2 {
  background-color: #222;
}

/* ----------------------- *
   common button class 
*----------------------- */
.common-btn {
  padding: 20px 40px;
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border-radius: 5px;
  background: #000;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.common-btn:hover, .common-btn:active {
  background: #333;
  border: 1px solid #333;
}

/* ------------------- *
   common box class 
*------------------- */
.case-studies-box {
  border-radius: 20px;
  background: #eef5f4;
  text-decoration: none;
  padding: 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 632px;
  height: 100%;
  min-height: 632px;
}
.case-studies-box .main-img {
  padding: 0 25px 25px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.case-studies-box .box-footer {
  padding: 25px 20px 25px 30px;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #eef5f4;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}
.case-studies-box .box-footer p {
  margin-bottom: 0;
  color: #000;
  max-width: 350px;
  margin-left: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.case-studies-box .box-footer i {
  color: #000;
}
.case-studies-box:hover .box-footer {
  background: #000;
}
.case-studies-box:hover .box-footer p,
.case-studies-box:hover .box-footer i {
  color: #fff;
}
.case-studies-box:hover .box-footer img {
  filter: brightness(0) invert(1);
}

.common-box {
  border-radius: 10px;
  background: #eef7f6;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 20px;
  height: 100%;
}
.common-box .icon-img {
  width: 50px;
  height: 50px;
}
.common-box h4 {
  color: #000;
  font-family: Lora;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0px;
}
.common-box p {
  color: #333;
  margin-bottom: 0px;
}

.review-box {
  max-width: 1002px;
}
.review-box .avtar-box {
  text-align: center;
}
.review-box .avtar-box img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-bottom: 10px;
}
.review-box .avtar-box img.mb-20 {
  margin-bottom: 20px;
}
.review-box .avtar-box h6 {
  color: #FFF;
  font-family: Lora;
  font-size: 18px;
  letter-spacing: 0.36px;
  margin-bottom: 5px;
}
.review-box .avtar-box p {
  color: #FFF;
  font-size: 14px;
  letter-spacing: 0.14px;
  margin-bottom: 0px;
}

.faq-box .accordion-item {
  border-radius: 8px;
  background: #eef7f6;
  margin-bottom: 15px;
  border: none;
}
.faq-box .accordion-item .accordion-button {
  background-color: transparent;
  box-shadow: none;
  color: #000;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
  padding: 25px 20px 20px 24px;
}
.faq-box .accordion-item .accordion-button::after {
  width: 20px;
  height: 2px;
  background: #000;
  display: block;
  background-image: none;
  transform: rotate(270deg);
  transition: 0.3s ease-in-out;
}
.faq-box .accordion-item .accordion-button::before {
  content: "";
  position: absolute;
  right: 20px;
  width: 20px;
  height: 2px;
  background: #000;
  display: block;
  background-image: none;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
.faq-box .accordion-item .accordion-button:not(.collapsed)::after {
  transform: rotate(135deg);
}
.faq-box .accordion-item .accordion-button:not(.collapsed)::before {
  transform: rotate(-135deg);
}
.faq-box .accordion-item .accordion-body {
  padding: 5px 20px 25px 24px;
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.32px;
}
.faq-box .accordion-item .accordion-body p {
  margin-bottom: 0%;
}

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wrap .navbar {
  width: 100%;
  padding: 30px 0px;
  background-color: #eef5f4;
}
.header-wrap .navbar .navbar-toggler {
  box-shadow: none !important;
  border: 0;
  padding: 0px 0px 0px 8px;
}
.header-wrap .navbar .navbar-toggler:focus, .header-wrap .navbar .navbar-toggler:active,
.header-wrap .navbar .navbar-toggler .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.header-wrap .navbar .navbar-toggler .navbar-toggler-icon {
  width: 22px;
  height: 2px;
  background: #000;
  display: block;
  background-image: none;
  transition: 0.5s ease-in-out;
}
.header-wrap .navbar .navbar-toggler .top-bar {
  margin-top: 5px;
  transform: rotate(135deg);
}
.header-wrap .navbar .navbar-toggler .bottom-bar {
  margin-top: -2px;
  transform: rotate(-135deg);
}
.header-wrap .navbar .navbar-toggler.collapsed .top-bar {
  margin-top: 0px;
  transform: rotate(0deg);
}
.header-wrap .navbar .navbar-toggler.collapsed .bottom-bar {
  margin-top: 6px;
  transform: rotate(0deg);
}
.header-wrap .navbar .gap-40 {
  gap: 40px;
}
.header-wrap .navbar .nav-link {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.16px;
  border: 1px solid transparent;
  width: -moz-max-content;
  width: max-content;
}
.header-wrap .navbar .nav-link.active, .header-wrap .navbar .nav-link:hover {
  color: #37AFC2;
  border-bottom: 1px solid #37AFC2;
}

.page-content {
  padding-top: 96px;
}

.client-logo {
  text-align: center;
}

.text-h4 {
  font-size: 40px;
  font-weight: 400;
}

.a-link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.contact-form .common-btn {
  padding: 14px 20px 13px;
}
.contact-form p {
  margin-bottom: 0%;
}

.modal-backdrop.show {
  opacity: 0;
}

.wpcf7-response-output,
.wpcf7-spinner {
  display: none;
}

.form-control {
  padding: 14px 20px;
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 1px solid transparent;
  color: #000;
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.15px;
  height: 48px;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;
  background-color: #F5F5F5;
  border-color: #000;
}

.form-select option:hover, .form-select option:focus {
  background-color: #000;
}

textarea.form-control {
  height: 120px;
}

.bg-yeel {
  background-color: #4155E6;
}
.bg-yeel img {
  margin-top: -1px;
}

.bg-htl {
  background: linear-gradient(315deg, #20B1C1 0%, #0168C8 100%);
}

.text-h5 {
  color: #444;
  font-family: Lora;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 15px;
}

.img-mb-1 {
  margin-bottom: -1px;
}

.servio-bg {
  background-color: #1c1c1c;
}

.lgd-bg-blue {
  background-color: #E5ECF2;
}

.article-container {
  border-radius: 20px;
  background: #F5F3EE;
  height: 100%;
}
.article-container .main-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 350px;
}
.article-container .body {
  padding: 25px;
}
.article-container .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 60px;
  color: #000;
  margin-bottom: 20px;
}
.article-container .title:focus, .article-container .title:hover {
  color: #333;
}
.article-container .paragraph {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 96px;
}
.article-container .tag {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.article-container .tag a {
  padding: 3px 15px;
  border-radius: 50px;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
}
.article-container .tag a:hover {
  border: 1px solid #333;
  color: #333;
}

.article-contant div {
  background-color: #F5F3EE;
  margin-bottom: 50px;
}
.article-contant div h1 {
  text-align: center;
  font-family: Lora;
  font-size: 64px;
  font-weight: 400;
  line-height: 130%;
  padding: 100px 12px;
  max-width: 800px;
  margin: auto;
}
.article-contant h2,
.article-contant h3,
.article-contant h4,
.article-contant h5,
.article-contant h6,
.article-contant p {
  max-width: 674px;
  padding: 0 12px;
  margin: 0 auto 15px;
}
.article-contant h2 {
  color: #444;
  font-family: Lora;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 15px;
}
.article-contant h2 a {
  color: #000;
  font-weight: 700;
}
.article-contant p {
  margin-bottom: 40px;
  color: #333;
}
.article-contant p a {
  color: #000;
  font-weight: 600;
}
.article-contant h4 {
  color: #000;
  font-family: Lora;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 15px;
}
.article-contant h4 a {
  color: #000;
  font-weight: 700;
}
.article-contant h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.article-contant .big-img {
  display: block;
  max-width: 674px;
  margin: 0 auto 40px;
}
.article-contant ul,
.article-contant ol {
  max-width: 674px;
  margin: 0 auto 15px;
}
.article-contant ul li,
.article-contant ol li {
  color: #333;
  margin-bottom: 16px;
  line-height: 180%;
}
.article-contant ul li p,
.article-contant ol li p {
  margin-bottom: 0%;
  padding: 0%;
}
.article-contant ul.mb-40,
.article-contant ol.mb-40 {
  margin-bottom: 40px;
}
.article-contant ul.mb-80,
.article-contant ol.mb-80 {
  margin-bottom: 80px;
}

.link {
  color: #000;
  display: flex;
  align-items: center;
  gap: 5px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.link .dot {
  margin-top: -7px;
}
.link .dot .fa-circle {
  font-size: 5px;
}
.link:focus, .link:hover {
  color: #333;
  border-bottom: 1px solid #333;
}

.comments-title {
  font-size: 20px;
  color: #333;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.16px;
  margin-bottom: 15px;
}

.comment-list {
  list-style: none;
  padding: 0%;
}

.comment {
  padding: 20px;
  margin-bottom: 15px;
  background-color: #F5F3EE;
  border-radius: 5px;
}
.comment .comment-body .comment-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-wrap: wrap;
  gap: 15px;
}
.comment .comment-body .comment-meta .comment-author img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 5px;
}
.comment .comment-body .comment-meta .comment-author .fn,
.comment .comment-body .comment-meta .comment-author .says,
.comment .comment-body .comment-meta .comment-author a {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
.comment .comment-body .comment-meta .comment-metadata a {
  color: #000;
  text-decoration: none;
}
.comment .comment-body .comment-meta .comment-metadata .edit-link {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  background: #000;
  padding: 6px;
  border-radius: 5px;
}
.comment .comment-body .comment-meta .comment-metadata .edit-link a {
  color: #fff;
}
.comment .comment-body .comment-meta .comment-awaiting-moderation {
  width: 100%;
  font-weight: 300;
  font-style: normal;
}
.comment .comment-body .comment-content {
  background-color: #FFF;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 25px;
}
.comment .comment-body .comment-content p {
  margin-bottom: 0px;
}
.comment .comment-body .reply {
  height: 28px;
  text-align: right;
}
.comment .comment-body .reply a {
  color: #fff;
  text-decoration: none;
  background: #000;
  padding: 6px;
  border-radius: 5px;
}
.comment .comment-body .reply a svg {
  fill: #fff;
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
.comment .children {
  list-style: none;
  margin-top: 15px;
}
.comment .children .comment {
  padding-right: 0%;
  border: none;
  border-top: 1px solid #444;
  border-radius: 0px;
}
.comment .children .comment:nth-last-child(1) {
  margin-bottom: 0px;
}

.comment-respond {
  border-top: 1.5px solid #000;
  padding-top: 30px;
  margin-top: 30px;
}

.comment-form {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.comment-form .comment-notes {
  width: 100%;
}
.comment-form input:-moz-read-write {
  padding: 14px 20px;
  border-radius: 4px;
  background: #F5F5F5;
  border: 1.5px solid transparent;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.15px;
  height: 48px;
  width: 100%;
  outline: none;
}
.comment-form input:not([type=submit], [type=checkbox]),
.comment-form textarea,
.comment-form input:read-write {
  padding: 14px 20px;
  border-radius: 4px;
  background: #F5F5F5;
  border: 1.5px solid transparent;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.15px;
  height: 48px;
  width: 100%;
  outline: none;
}
.comment-form input:-moz-read-write:hover, .comment-form input:-moz-read-write:active {
  box-shadow: none;
  background: #F5F5F5;
  border: 1.5px solid #000;
}
.comment-form input:not([type=submit], [type=checkbox]):hover, .comment-form input:not([type=submit], [type=checkbox]):active,
.comment-form textarea:hover,
.comment-form textarea:active,
.comment-form input:read-write:hover,
.comment-form input:read-write:active {
  box-shadow: none;
  background: #F5F5F5;
  border: 1.5px solid #000;
}
.comment-form > .comment-form-author, .comment-form > .comment-form-email {
  max-width: 50%;
  width: 48%;
}
.comment-form .comment-form-author {
  order: 3;
}
.comment-form .comment-form-email {
  order: 4;
}
.comment-form .comment-form-comment {
  order: 5;
  width: 98%;
}
.comment-form .comment-form-cookies-consent {
  order: 6;
}
.comment-form .form-submit {
  order: 7;
}
.comment-form textarea {
  width: 100%;
  height: 150px;
}
.comment-form > .comment-form-url {
  display: none;
}
.comment-form button[type=submit],
.comment-form input[type=submit] {
  padding: 14px 20px 13px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border-radius: 5px;
  background: #000;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.comment-form button[type=submit]:hover, .comment-form button[type=submit]:active,
.comment-form input[type=submit]:hover,
.comment-form input[type=submit]:active {
  background: #333;
  border: 1px solid #333;
}

#form-modal .modal-dialog {
  max-width: 300px;
}
#form-modal .modal-dialog .modal-content {
  border-radius: 6px;
  background-color: #000;
  color: #FFF;
}

/* ---------------------------- 
      (min-width:1200px)
------------------------------ */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* ---------------------------- 
      (max-width:992px)
------------------------------ */
@media only screen and (max-width: 992px) {
  .case-studies-box {
    height: 342px;
  }
  .header-wrap .navbar .gap-40 {
    gap: 20px;
  }
  .case-studies-box {
    min-height: 565px;
  }
  .case-studies-box .box-footer {
    flex-direction: column;
    align-items: flex-start;
    min-height: 186px;
  }
  .case-studies-box .box-footer p {
    max-width: 100%;
  }
}
/* ---------------------------- 
      (max-width:768px)
------------------------------ */
@media only screen and (max-width: 768px) {
  .header-wrap .navbar {
    padding: 18px 0;
  }
  .header-wrap .navbar .nav-link {
    margin: auto;
  }
  .page-content {
    padding-top: 71px;
  }
  .section {
    padding: 80px 0px;
  }
  .header-title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .case-studies-box {
    max-height: 100%;
    height: 100%;
  }
  .gap-30 {
    --bs-gutter-x: 20px;
    --bs-gutter-y: 20px;
  }
  .text-h4 {
    font-size: 30px;
  }
  .article-container .main-img {
    height: 300px;
  }
}
/* ---------------------------- 
      (max-width:576px)
------------------------------ */
@media only screen and (max-width: 576px) {
  .section {
    padding: 60px 0px;
  }
  .mb-60,
  .mb-50,
  .mb-65,
  .mb-70,
  .mb-80 {
    margin-bottom: 40px;
  }
  .pt-67,
  .pt-105 {
    padding-top: 37px;
  }
  .pb-97,
  .pb-162 {
    padding-bottom: 67px;
  }
  .header-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .header-sub-title {
    font-size: 16px;
  }
  .common-btn {
    padding: 15px 20px;
  }
  .text-h4 {
    font-size: 25px;
  }
  .case-studies-box {
    min-height: 480px;
  }
  .case-studies-box .box-footer {
    padding: 20px;
    min-height: 200px;
  }
  .case-studies-box .box-footer p {
    overflow: visible;
    display: block;
  }
  .article-container .main-img {
    height: 250px;
  }
  .article-container .title {
    min-height: 50px;
  }
  .article-contant .big-img {
    max-width: 100%;
  }
  .contact-form .rc-anchor-container {
    width: 250px;
  }
  .contact-form .rc-anchor-container .rc-anchor-normal .rc-anchor-checkbox-label {
    width: 101px;
  }
}/*# sourceMappingURL=style.css.map */