@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ------------- *
   common css
*--------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 25px;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 24px;
}

h3 {
  font-size: 20px;
  font-weight: 800;
}

h5 {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 600;
}

h6,
.h6 {
  font-weight: 600;
  color: #919eab;
  text-transform: uppercase;
  font-size: 12px;
}

p {
  color: #637381;
}

.text-primary {
  color: #37afc2 !important;
}

::-moz-selection {
  color: #fff;
  background-color: #37afc2;
}

::-moz-selection,
::selection {
  color: #fff;
  background-color: #37afc2;
}

.bg-banner {
  background-image: url(../image/choose_bg.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 0px 20px;
}

.px-60 {
  padding: 60px 0px;
}

.border_title {
  position: relative;
  z-index: 1;
  padding: 0%;
  text-transform: capitalize;
}
.border_title::after {
  animation: slide-both-side 4s infinite both;
  background: #37afc2;
  opacity: 0.7;
  border-radius: 50%;
  content: "";
  height: 45px;
  left: -15px;
  position: absolute;
  top: -1px;
  width: 45px;
  z-index: -1;
}

@keyframes slide-both-side {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}
.btn-primary {
  padding: 12px 20px;
  background-color: #37afc2;
  border: none;
  font-weight: 600;
}
.btn-primary:active, .btn-primary:hover {
  background-color: #37afc2;
  opacity: 0.8;
}

.sub_heading {
  font-weight: 600;
  color: #919eab;
  text-transform: uppercase;
  font-size: 12px;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid #37afc2;
  padding: 0%;
  margin-top: 24px;
}

.arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 12px;
}

.bg-canvas {
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 0;
  height: 790px;
}
.bg-canvas canvas {
  height: 790px;
}

/* -------------- *
   all section
*---------------- */
.front-page {
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}
.front-page h1 {
  font-size: 65px;
}
.front-page .home-hero {
  animation: Moveupdown 3s infinite alternate;
}

@keyframes Moveupdown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(25px);
  }
}
.navbar {
  padding: 20px 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.navbar.active_nav {
  background-color: rgba(248, 249, 250, 0.635);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
}
.navbar.active_nav .navbar-collapse.show {
  padding: 0px;
  background-color: transparent;
}
.navbar li a {
  font-size: 14px;
  font-weight: 500;
  color: #637381;
  margin-left: 10px;
  transition: all 0.4s ease;
  white-space: nowrap;
  text-transform: capitalize;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}
.navbar .navbar-collapse.show {
  padding: 0px 0px 20px;
  background-color: rgb(248, 249, 250);
}
.navbar .nav-item a:hover {
  color: #37afc2;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
  border: none;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  width: 20px;
  height: 3px;
  background: #37afc2;
  display: block;
  background-image: none;
  transition: 0.5s ease-in-out;
}
.navbar .navbar-toggler .top-bar {
  margin-top: 5px;
  transform: rotate(135deg);
}
.navbar .navbar-toggler .bottom-bar {
  margin-top: -3px;
  transform: rotate(-135deg);
}
.navbar .collapsed .top-bar {
  margin-top: 0px;
  transform: rotate(0deg);
}
.navbar .collapsed .bottom-bar {
  margin-top: 5px;
  transform: rotate(0deg);
}

.service .card {
  border-radius: 16px;
  border: none;
  height: 100%;
  padding: 40px 30px 15px;
  transition: all 0.6s ease;
  background-color: #fff;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.service .card::before {
  content: "";
  position: absolute;
  left: -3%;
  top: -100%;
  width: 324px;
  height: 256px;
  border-radius: 0px 0px 255px 0px;
  transition: 0.3s linear;
  z-index: -1;
  background: #37afc2;
}
.service .card::after {
  content: "";
  position: absolute;
  left: -3%;
  top: -36%;
  width: 324px;
  height: 256px;
  background: #f4f9ff;
  border-radius: 0px 0px 255px 0px;
  transition: 0.3s linear;
  z-index: -2;
}
.service .card .card-body {
  padding: 0px;
  text-align: left;
}
.service .card p {
  font-size: 14px;
  line-height: 24px;
}
.service .card .icon {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37afc2;
  border-radius: 50%;
  margin-bottom: 25px;
  transition: all 0.3s ease;
}
.service .card .icon svg {
  width: 55px;
  fill: #ebf2ff;
  transition: all 0.3s ease;
}
.service .card:hover::before {
  top: -36%;
}
.service .card:hover::after {
  opacity: 0;
}
.service .card:hover .icon {
  background-color: #ebf2ff;
}
.service .card:hover .icon svg {
  fill: #37afc2;
}

.work-flow .work-item-wrap {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.work-flow .work-item-wrap .work-line-shape svg {
  position: absolute;
  left: 0;
  top: 105px;
  right: 0;
}
.work-flow .work-item-wrap .work-line-shape .dashed1 {
  stroke-dasharray: 1300;
}
.work-flow .work-item-wrap .work-line-shape .dashed2 {
  stroke-dasharray: 7;
}
.work-flow .work-item-wrap .work-item {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.work-flow .work-item-wrap .work-item .work-icon {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  background: #ebf2ff;
  border-radius: 50%;
  line-height: 0;
  color: #37afc2;
  font-size: 50px;
  position: relative;
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.work-flow .work-item-wrap .work-item .work-icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #37afc2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  z-index: -1;
}
.work-flow .work-item-wrap .work-item .work-icon .number {
  margin-bottom: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #272727;
  border-radius: 50%;
  font-size: 24px;
  position: absolute;
  right: -15px;
  top: 10px;
  transition: 0.3s ease-in-out;
}
.work-flow .work-item-wrap .work-item:hover .work-icon {
  color: #fff;
}
.work-flow .work-item-wrap .work-item:hover .work-icon::before {
  transform: translate(-50%, -50%) scale(1);
}
.work-flow .work-item-wrap .work-item:hover .work-icon .number {
  color: #37afc2;
}
.work-flow .work-item-wrap .mt-185 {
  margin-top: 185px;
}
.work-flow .work-item-wrap .mt-115 {
  margin-top: 115px;
}
.work-flow .work-item-wrap .work-item-wrap .row [class*=col-]:nth-child(even) .work-icon {
  margin: 15px auto 0;
}

.technologies .technology-container .course {
  width: 100px;
  height: 100px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.631372549);
  box-shadow: 0 35px 67px rgba(29, 35, 115, 0.07), 0 35px 28px rgba(29, 35, 115, 0.05), 0 19px 15px rgba(29, 35, 115, 0.042), 0 11px 8px rgba(29, 35, 115, 0.035), 0 5px 5px rgba(29, 35, 115, 0.028), 0 2px 2px rgba(29, 35, 115, 0.02);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.technologies .technology-container .course img {
  max-height: 42px;
}
.technologies .technology-container .course h6 {
  position: absolute;
  top: 110px;
  visibility: hidden;
  color: #272727;
  font-size: 13px;
}
.technologies .technology-container .course:hover {
  transform: scale(1.1);
}
.technologies .technology-container .course:hover h6 {
  visibility: visible;
}

.core-value .card {
  background-color: #fff;
  border: none;
  padding: 10px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  border-radius: 15px;
  height: 100%;
  box-shadow: -6px 0px 15px rgba(33, 33, 33, 0.1);
}
.core-value .card h5 {
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: all 0.35s ease;
  background-size: 0 1px;
}
.core-value .card .icon {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37afc2;
  border-radius: 50%;
  margin: 25px auto;
  transition: all 0.3s ease;
}
.core-value .card .icon i {
  font-size: 40px;
  color: #ebf2ff;
  transition: all 0.3s ease;
}
.core-value .card:hover {
  transform: translateY(-4px);
  border: 2px solid #37afc2;
}
.core-value .card:hover h5 {
  color: #37afc2;
  background-image: linear-gradient(130deg, #37afc2, #37afc2);
  background-size: 100% 2px;
}
.core-value .card:hover .icon {
  background-color: #ebf2ff;
}
.core-value .card:hover .icon i {
  color: #37afc2;
}

.vision .goal-main .goal {
  padding: 30px 40px 20px;
  height: 100%;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 16px;
  transition: all 0.3s ease;
}
.vision .goal-main .goal::before, .vision .goal-main .goal::after {
  content: "";
  width: 161px;
  height: 161px;
  border-radius: 50%;
  transition: all 0.6s;
  opacity: 0.3;
}
.vision .goal-main .goal::before {
  width: 208px;
  height: 208px;
  transition: all 1s;
}
.vision .goal-main .goal .icon {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37afc2;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin: auto auto 35px;
}
.vision .goal-main .goal .icon svg {
  width: 80px;
  height: 80px;
  fill: #fff;
  transition: all 0.3s ease;
}
.vision .goal-main .goal h5 {
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
  margin: 20px auto 15px;
}
.vision .goal-main .goal p {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
.vision .goal-main::before {
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: all 1.5s;
  opacity: 0.3;
}
.vision .goal-main:hover::before {
  position: absolute;
  top: -134px;
  left: -77px;
  transform: translate(50%, 50%);
  z-index: 1;
  background-color: #fff !important;
  opacity: 0.1;
}
.vision .goal-main:hover .goal {
  transform: translateY(-8px);
  background-color: rgba(55, 176, 194, 0.8431372549) !important;
}
.vision .goal-main:hover .goal::after {
  position: absolute;
  top: -66px;
  left: 3px;
  transform: translate(50%, 50%);
  background-color: #fff !important;
  opacity: 0.1;
}
.vision .goal-main:hover .goal::before {
  position: absolute;
  transform: translate(50%, 50%);
  background-color: #fff !important;
  opacity: 0.1;
  top: -98px;
  left: -39px;
}
.vision .goal-main:hover .goal .icon {
  background-color: #ebf2ff;
}
.vision .goal-main:hover .goal .icon svg {
  fill: #37afc2;
}
.vision .goal-main:hover .goal p,
.vision .goal-main:hover .goal h5 {
  color: #fff;
}

.case-study #portfolio {
  gap: 35px;
  grid-template-columns: repeat(3, 1fr);
}
.case-study #portfolio .card {
  border: none;
  background: transparent;
}
.case-study #portfolio .card:hover .card-img img {
  transform: scale(1);
}
.case-study #portfolio .card:hover .card-img .overlay {
  opacity: 1;
}
.case-study #portfolio .card .card-img {
  border-radius: 16px;
  max-height: 336px;
  overflow: hidden;
  position: relative;
}
.case-study #portfolio .card .card-img img {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.case-study #portfolio .card .card-img .overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  opacity: 0;
  background: rgb(9, 196, 178);
  background: linear-gradient(270deg, rgba(9, 196, 178, 0.2637429972) 10%, rgba(33, 93, 88, 0.2329306723) 90%);
  color: #f1f1f1;
  width: 100%;
  transition: all 0.3s ease;
}
.case-study #portfolio .card .card-title {
  font-weight: 700;
  line-height: 1.5;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "__Public_Sans_a5724b", "__Public_Sans_Fallback_a5724b", Helvetica, Arial, sans-serif;
  color: #919eab;
}
.case-study #portfolio .card .link {
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5;
  font-size: 15px;
  font-family: "__Barlow_59217c", "__Barlow_Fallback_59217c", Helvetica, Arial, sans-serif;
  overflow: hidden;
  text-transform: lowercase;
  text-overflow: ellipsis;
  color: #37afc2;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: all 0.35s ease;
  background-size: 0 1px;
}
.case-study #portfolio .card:hover .link {
  background-image: linear-gradient(130deg, #37afc2, #37afc2);
  background-size: 100% 2px;
}

.client #client_section {
  grid-template-columns: repeat(5, 1fr);
  border-collapse: collapse;
}
.client .client_logo {
  position: relative;
}
.client .client_logo .back_img {
  position: relative;
  opacity: 0;
  background-color: #2d2d2d;
}
.client .client_logo .back_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(248.23deg, rgba(222, 227, 207, 0.1488) 0%, rgba(140, 200, 166, 0.3288) 19.51%, rgba(194, 139, 207, 0.5051) 39.54%, rgba(243, 146, 75, 0.677) 59.72%, rgba(101, 104, 211, 0.8541) 81.51%, rgba(0, 0, 0, 0) 100%);
  mix-blend-mode: overlay;
}
.client .client_logo .back_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.55);
}
.client .client_logo .back_img img {
  width: 100%;
  height: 175px;
}
.client .client_logo .overlay_logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  pointer-events: none;
  text-align: center;
}
.client .client_logo .overlay_logo img {
  width: 140px;
  max-height: 140px;
}
.client .client_logo .overlay_logo img.w-90 {
  width: 90px;
  height: 90px;
}
.client .client_logo .overlay_logo img.w-60 {
  width: 60px;
  height: 60px;
}
.client .client_logo:hover .back_img {
  cursor: pointer;
  opacity: 1;
}
.client .client_logo:hover .overlay_logo img.filter {
  filter: brightness(0) invert(1);
}

@keyframes marqueeLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes marqueeRight {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.contact {
  background-color: #f8f9fa;
}
.contact form {
  padding: 18px 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
}
.contact form textarea,
.contact form input,
.contact form textarea:focus,
.contact form input:focus {
  background-color: #f8f9fa;
  box-shadow: none;
  border: none;
  font-size: 13px;
}
.contact form label {
  color: #919eab;
}
.contact form .error-msg {
  color: red;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 300;
}
.contact form button {
  padding: 12px 20px;
  background-color: #37afc2;
  border: none;
  font-weight: 600;
}
.contact form button:hover {
  background-color: #37afc2;
  opacity: 0.8;
}
.contact form input:focus + label,
.contact form textarea:focus + label {
  color: #37afc2;
}
.contact h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
.contact .information i {
  width: 28px;
  font-size: 22px;
}
.contact .information p {
  color: black;
  font-size: 15px;
}
.contact .img-fluid {
  max-height: 600px;
}

footer {
  background: rgba(55, 176, 194, 0.8431372549);
}
footer .navbar-toggler {
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease;
}
footer .navbar-toggler .fa {
  color: #fff;
}
footer h5 {
  color: #fff;
}
footer #contact_footer .d-flex a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
footer #contact_footer .d-flex .fa {
  font-size: 18px;
  width: 18px;
  color: #fff;
}
footer #contact_footer .d-flex:hover a,
footer #contact_footer .d-flex:hover i {
  color: #637381;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  margin: 10px 0px;
}
footer ul li a .fa {
  font-size: 22px;
}
footer ul li:hover a {
  color: #637381;
}
footer .navbar-toggler.collapsed .fa {
  transform: rotate(0deg);
}
footer .navbar-toggler .fa {
  transform: rotate(180deg);
}
footer .copyright {
  color: #fff;
  font-size: 16px;
}

/* ------------- *
   media query
*--------------- */
/* ------------------------ *
   (max-width:1399px)
*------------------------- */
@media (max-width: 1399px) {
  .work-flow .work-item-wrap .work-line-shape svg {
    left: -35px;
  }
  .work-flow .work-item-wrap .mt-115 {
    margin-top: 92px;
  }
}
/* ------------------------ *
   (max-width:1299px)
*------------------------- */
@media (max-width: 1299px) {
  .front-page h1 {
    font-size: 55px;
  }
  .vision .goal-main .goal {
    padding: 30px;
  }
  .vision .goal-main .goal:hover .goal::before {
    top: -98px;
    left: -37px;
  }
  .vision .goal-main .goal:hover .goal::after {
    top: -66px;
    left: 10px;
  }
  .vision .goal-main .goal:hover::before {
    left: -67px;
  }
}
/* ---------------------------- *
        (max-width:1199px)
  *------------------------------ */
@media (max-width: 1199px) {
  .client .marquee-wrapper .marquee-inner .marquee-items .items .client-logos .bg-img {
    opacity: 1;
  }
  .client .marquee-wrapper .marquee-inner .marquee-items .items .client-logos .bg-img:before {
    opacity: 1;
  }
  .vision .goal-main:hover .goal::before {
    left: -67px;
  }
  .vision .goal-main:hover .goal::after {
    left: -18px;
  }
  .vision .goal-main:hover::before {
    left: -97px;
  }
}
/* ---------------------------- *
        (max-width:992px)
  *------------------------------ */
@media (max-width: 992px) {
  .px-60 {
    padding: 40px 0px;
  }
  .bg-canvas {
    height: 1025px;
  }
  .bg-canvas canvas {
    height: 960px;
  }
  .navbar ul {
    padding-left: 12px;
    padding-top: 12px;
  }
  .work-flow .work-item-wrap .work-line-shape {
    display: none;
  }
  .work-flow .work-item-wrap .mt-185 {
    margin-top: 15px;
  }
  .work-flow .work-item-wrap .mt-115 {
    margin-top: 15px;
  }
  .case-study #portfolio {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .client #client_section {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .vision .goal-main:hover .goal::before {
    left: -53px;
  }
  .vision .goal-main:hover .goal::after {
    left: -4px;
  }
  .vision .goal-main:hover::before {
    left: -83px;
  }
}
/* ---------------------------- *
        (max-width:768px)
  *------------------------------ */
@media (max-width: 768px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 32px;
  }
  .vision .goal-main:hover .goal::before {
    top: -88px;
    left: -21px;
  }
  .vision .goal-main:hover .goal::after {
    top: -56px;
    left: 25px;
  }
  .vision .goal-main:hover::before {
    top: -125px;
    left: -56px;
  }
}
/* ---------------------------- *
        (max-width:576px)
  *------------------------------ */
@media (max-width: 576px) {
  h1 {
    font-size: 38px !important;
    font-weight: 600;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  h6,
  .h6 {
    font-size: 10px;
  }
  .logo {
    max-width: 125px;
  }
  .border_title::after {
    width: 30px;
    height: 30px;
    left: -8px;
  }
  .bg-canvas {
    height: 790px;
  }
  .bg-canvas canvas {
    height: 770px;
  }
  .service .card {
    padding: 30px 20px !important;
  }
  .technologies .technology-container .course {
    width: 75px;
    height: 75px;
  }
  .technologies .technology-container .course img {
    max-height: 32px;
  }
  .technologies .technology-container .course h6 {
    top: 85px;
    font-size: 11px;
  }
  .case-study #portfolio {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .client #client_section {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .client .marquee-wrapper .marquee-inner .marquee-items .items {
    width: 270px;
    height: 160px;
  }
  .client .marquee-wrapper .marquee-inner .marquee-items .items .logo-name img {
    max-width: 40% !important;
  }
  .vision .goal-main:hover .goal::before, .vision .goal-main:hover .goal::after {
    opacity: 0;
  }
  .vision .goal-main:hover::before {
    opacity: 0;
  }
}
/* ---------------------------- *
        (max-width:430px)
  *------------------------------ */
@media (max-width: 430px) {
  h1 {
    font-size: 34px !important;
    font-weight: 600;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }
  .logo {
    max-width: 105px;
  }
  .technologies .technology-container .course {
    padding: 5px;
  }
  .client .marquee-wrapper .marquee-inner .marquee-items .items {
    width: 200px;
    height: 118px;
  }
  .vision .goal-main .goal {
    padding: 20px 20px 28px;
  }
  .contact .img-fluid {
    max-width: 100%;
  }
}
/* ---------------------------- *
        (max-width:390px)
  *------------------------------ */
@media (max-width: 390px) {
  .technologies .technology-container .course {
    width: 50px;
    height: 50px;
  }
  .technologies .technology-container .course img {
    max-height: 28px;
  }
  .technologies .technology-container .course h6 {
    top: 60px;
    font-size: 7px;
  }
}/*# sourceMappingURL=style.css.map */