.client {
  #client_section {
    grid-template-columns: repeat(5, 1fr);
    border-collapse: collapse;
  }

  .client_logo {
    position: relative;
    // border: 0.5px solid #74828f;

    .back_img {
      position: relative;
      opacity: 0;
      background-color: #2d2d2d;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          248.23deg,
          rgba(222, 227, 207, 0.1488) 0%,
          rgba(140, 200, 166, 0.3288) 19.51%,
          rgba(194, 139, 207, 0.5051) 39.54%,
          rgba(243, 146, 75, 0.677) 59.72%,
          rgba(101, 104, 211, 0.8541) 81.51%,
          rgba(0, 0, 0, 0) 100%
        );
        mix-blend-mode: overlay;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.55);
      }

      img {
        width: 100%;
        height: 175px;
      }
    }

    .overlay_logo {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      right: 0;
      pointer-events: none;
      text-align: center;
      img {
        width: 140px;
        max-height: 140px;
        &.w-90 {
          width: 90px;
          height: 90px;
        }
        &.w-60 {
          width: 60px;
          height: 60px;
        }
      }
    }

    &:hover {
      .back_img {
        cursor: pointer;
        opacity: 1;
      }
      .overlay_logo {
        img { 
          &.filter {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}

@keyframes marqueeLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
