.contact {
    padding: 70px 0px;

    textarea {
        box-shadow: none !important;
        border: none;
    }

    input {
        box-shadow: none !important;
        border: none;
    }

    label {
        color: #919EAB;
    }

    .error-msg {
        color: red;
        margin-bottom: 8px;
        font-size: 12px;
        font-weight: 300;
    }

    button {
        padding: 12px 20px;
        background-color: $color;
        border: none;
        font-weight: 600;
    }

    button:hover {
        background-color: $color;
        opacity: 0.8;
    }

    .head {
        margin-top: 20px;
        margin-bottom: 40px;
        margin-top: -125px;
    }

    h1 {
        font-size: 48px;
        margin-bottom: 10px;
    }

    .required {
        color: $color;
    }


    .information {
        i {
            width: 28px;
            font-size: 22px;
        }

        p {
            color: black;
            font-size: 15px;
        }
    }

}

input:focus+label,
textarea:focus+label {
    color: $color;
}

.des {
    margin-left: 16px;
}

.contact-page {
    padding-top: 40px;

    .img-fluid {
        max-width: 70%;
    }
}