.footer {
    border-top: 2m px solid $color;
    padding: 40px 0px 10px;

    .navbar-toggler {
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: all 0.4s ease;
    }

    #contact_footer .d-flex {

        a {
            color: #000;
            font-size: 15px;
            text-decoration: none;
        }

        .fa {
            font-size: 18px;
            width: 18px;
        }

        &:hover a,
        &:hover i {
            color: $color;
        }
    }

    ul {
        list-style: none;
        padding-left: 0px;

        li {
            margin-bottom: 10px;

            a {
                text-transform: capitalize;
                font-size: 15px;
                color: #000;
                margin: 10px 0px;

                .fa {
                    font-size: 22px;
                }
            }

            &:hover a {
                color: $color;
            }

        }
    }

    .navbar-toggler.collapsed .fa {
        transform: rotate(0deg);
    }

    .navbar-toggler .fa {
        transform: rotate(180deg);
    }

    .copyright {
        color: #000;
        font-size: 15px;
    }
}