/* ------------- *
   media query
*--------------- */
/* ------------------------ *
   (max-width:1399px)
*------------------------- */
@media (max-width: 1399px) {
  .work-flow {
    .work-item-wrap {
      .work-line-shape svg {
        left: -35px;
      }
      .mt-115 {
        margin-top: 92px;
      }
    }
  }
}
/* ------------------------ *
   (max-width:1299px)
*------------------------- */
@media (max-width: 1299px) {
  .front-page h1 {
    font-size: 55px;
  }

  .vision .goal-main {
    .goal {
      padding: 30px;

      &:hover {
        .goal {
          &::before {
            top: -98px;
            left: -37px;
          }

          &::after {
            top: -66px;
            left: 10px;
          }
        }

        &::before {
          left: -67px;
        }
      }
    }
  }
}

/* ---------------------------- *
        (max-width:1199px)
  *------------------------------ */
@media (max-width: 1199px) {
  .client
    .marquee-wrapper
    .marquee-inner
    .marquee-items
    .items
    .client-logos
    .bg-img {
    opacity: 1;

    &:before {
      opacity: 1;
    }
  }

  .vision .goal-main:hover {
    .goal {
      &::before {
        left: -67px;
      }

      &::after {
        left: -18px;
      }
    }

    &::before {
      left: -97px;
    }
  }
}

/* ---------------------------- *
        (max-width:992px)
  *------------------------------ */
@media (max-width: 992px) {
  .py-60 {
    padding: 40px 0px;
  }

  .bg-canvas {
    height: 1025px;

    canvas {
      height: 960px;
    }
  }

  .navbar ul {
    padding-left: 12px;
    padding-top: 12px;
  }

  .work-flow {
    .work-item-wrap {
      .work-line-shape {
        display: none;
      }
      .mt-185 {
        margin-top: 15px;
      }
      .mt-115 {
        margin-top: 15px;
      }
    }
  }

  .case-study #portfolio {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .client #client_section {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .vision .goal-main:hover {
    .goal {
      &::before {
        left: -53px;
      }

      &::after {
        left: -4px;
      }
    }

    &::before {
      left: -83px;
    }
  }
}

/* ---------------------------- *
        (max-width:768px)
  *------------------------------ */
@media (max-width: 768px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 32px;
  }

  .vision .goal-main:hover {
    .goal {
      &::before {
        top: -88px;
        left: -21px;
      }

      &::after {
        top: -56px;
        left: 25px;
      }
    }

    &::before {
      top: -125px;
      left: -56px;
    }
  }
}

/* ---------------------------- *
        (max-width:576px)
  *------------------------------ */
@media (max-width: 576px) {
  h1 {
    font-size: 38px !important;
    font-weight: 600;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6,
  .h6 {
    font-size: 10px;
  }

  .logo {
    max-width: 125px;
  }

  .border_title::after {
    width: 30px;
    height: 30px;
    left: -8px;
  }

  .bg-canvas {
    height: 790px;

    canvas {
      height: 770px;
    }
  }

  .service .card {
    padding: 30px 20px !important;
  }

  .technologies .technology-container .course {
    width: 75px;
    height: 75px;

    img {
      max-height: 32px;
    }

    h6 {
      top: 85px;
      font-size: 11px;
    }
  }

  .case-study #portfolio {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .client {
    #client_section {
      gap: 20px;
      grid-template-columns: repeat(1, 1fr);
    }

    .marquee-wrapper .marquee-inner .marquee-items .items {
      width: 270px;
      height: 160px;

      .logo-name img {
        max-width: 40% !important;
      }
    }
  }

  .vision .goal-main:hover {
    .goal {
      &::before,
      &::after {
        opacity: 0;
      }
    }

    &::before {
      opacity: 0;
    }
  }
}

/* ---------------------------- *
        (max-width:430px)
  *------------------------------ */
@media (max-width: 430px) {
  h1 {
    font-size: 34px !important;
    font-weight: 600;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .logo {
    max-width: 105px;
  }

  .technologies .technology-container .course {
    padding: 5px;
  }

  .client .marquee-wrapper .marquee-inner .marquee-items .items {
    width: 200px;
    height: 118px;
  }

  .vision .goal-main {
    .goal {
      padding: 20px 20px 28px;
    }
  }

  .contact .img-fluid {
    max-width: 100%;
  }
}

/* ---------------------------- *
        (max-width:390px)
  *------------------------------ */
@media (max-width: 390px) {
  .technologies .technology-container .course {
    width: 50px;
    height: 50px;
    img {
      max-height: 28px;
    }

    h6 {
      top: 60px;
      font-size: 7px;
    }
  }
}
