.service .card {
    border-radius: 16px;
    border: none;
    height: 100%;
    padding: 40px 20px;
    transition: all 0.6s ease;
    background-color: #fff;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    overflow: hidden;

    &::before {
        width: 120px;
        height: 120px;
        content: "";
        position: absolute;
        border-radius: 50%;
        background: #37afc2;
        opacity: 0.7;
        transition: 0.5s linear;
        transform: scale(1);
        transition: all 0.3s ease;
        bottom: -10%;
        right: -10%;
    }

    .card-body {
        margin: 40px 30px 5px;
        padding: 0px;
        transform: scale(1);
        transition: all 0.3s ease;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    img {
        display: inline-block;
        margin: auto;
        transform: scale(1);
        width: 90px;
        transition: all 0.3s ease;
    }

    &:hover {

        .card-body,
        &::before,
        img {
            transform: scale(1.1);
        }
    }
}