.service {
  .card {
    border-radius: 16px;
    border: none;
    height: 100%;
    padding: 40px 30px 15px;
    transition: all 0.6s ease;
    background-color: #fff;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: -3%;
      top: -100%;
      width: 324px;
      height: 256px;
      border-radius: 0px 0px 255px 0px;
      transition: 0.3s linear;
      z-index: -1;
      background: $color;
    }

    &::after {
      content: "";
      position: absolute;
      left: -3%;
      top: -36%;
      width: 324px;
      height: 256px;
      background: #f4f9ff;
      border-radius: 0px 0px 255px 0px;
      transition: 0.3s linear;
      z-index: -2;
    }

    .card-body {
      padding: 0px;
      text-align: left;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
    }

    .icon {
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color;
      border-radius: 50%;
      margin-bottom: 25px;
      transition: all 0.3s ease;

      svg {
        width: 55px;
        fill: #ebf2ff;
        transition: all 0.3s ease;
      }

      img {
        width: 50px;
        filter: brightness(0) invert(1);
      }
    }

    &:hover {
      &::before {
        top: -36%;
      }

      &::after {
        opacity: 0;
      }

      .icon {
        background-color: #ebf2ff;

        svg {
          fill: $color;
        }

        img {
          filter: none;
        }
      }
    }
  }
}