.vision .goal-main {
    .goal {
      padding: 48px 48px 33px;
      height: 100%;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      overflow: hidden;
      border-radius: 16px;
      transition: all 0.3s ease;
  
      &::after {
        content: "";
        width: 161px;
        height: 161px;
        border-radius: 50%;
        transition: all 0.6s;
        opacity: 0.3;
      }
  
      &::before {
        content: "";
        width: 161px;
        height: 161px;
        border-radius: 50%;
        transition: all 0.6s;
        opacity: 0.3;
        width: 208px;
        height: 208px;
        transition: all 1s;
      }
  
      img {
        max-width: 170px;
        height: 165px;
      }
  
      .trophy {
        max-width: 260px;
      }
  
      h5 {
        font-size: 22px;
        width: -moz-fit-content;
        width: fit-content;
        text-transform: capitalize;
        text-align: center;
        margin: 20px auto 15px;
      }
  
      p {
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  
    &::before {
      content: "";
      width: 250px;
      height: 250px;
      border-radius: 50%;
      transition: all 1.5s;
      opacity: 0.3;
    }
  
    &:hover {
      &::before {
        position: absolute;
        top: -134px;
        left: -47px;
        transform: translate(50%, 50%);
        z-index: 1;
        background-color: #fff !important;
        opacity: 0.1;
      }
  
      .goal {
        transform: translateY(-8px);
        background-color: rgba(55, 176, 194, 0.8431372549) !important;
  
        &::after {
          position: absolute;
          top: -66px;
          left: 30px;
          transform: translate(50%, 50%);
          background-color: #fff !important;
          opacity: 0.1;
        }
  
        &::before {
          position: absolute;
          top: -66px;
          left: 30px;
          transform: translate(50%, 50%);
          background-color: #fff !important;
          opacity: 0.1;
          top: -98px;
          left: -17px;
        }
  
        p, h5 {
          color: #fff;
        }
      }
    }
  }