@import "mixin";

.work-flow {
  padding: 80px 0px;

  .process-card {
    .card {
      margin-top: 100px;
      min-height: 300px;
      border-radius: 15px;
      background: #fff;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      border: none;

      .card-circle {
        width: 100px;
        height: 100px;
        padding: 20px;
        background: #fff;
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
        border-radius: 50%;
        margin-top: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #272727;
        font-size: 29px;
        font-weight: 500;
      }
      &.one {
        border-bottom: 15px solid #6aaffd;
        .card-circle {
          border: 15px solid #6aaffd;
        }
        h5 {
          color: #6aaffd;
        }
      }
      &.two {
        border-bottom: 15px solid #ffa44b;
        .card-circle {
          border: 15px solid #ffa44b;
        }
        h5 {
          color: #ffa44b;
        }
      }
      &.three {
        border-bottom: 15px solid #f46b6b;
        .card-circle {
          border: 15px solid #f46b6b;
        } 
        h5 {
          color: #f46b6b;
        }
      }
      &.four {
        border-bottom: 15px solid $color;
        .card-circle {
          border: 15px solid $color;
        } 
        h5 {
          color: $color;
        }
      }

      .card-img-top {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 70px;
      }
    }
  }
}

@media (max-width: 768px) {
  .work-flow {
    padding: 40px 0px;
  }
}

@media (max-width: 796px) {
  .work-flow {
    padding: 50px 0px;
  }
}
