.work-flow .process-card {
  margin-top: 30px;

  .card {
    min-height: 370px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    border: none;
    transition: all 0.3s ease;

    .card-circle {
      width: 100px;
      height: 100px;
      padding: 20px;
      background: #fff;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      border-radius: 50%;
      margin-top: -50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #212529;
      font-size: 29px;
      font-weight: 500;
    }

    &:hover {
      transform: translateY(-8px) !important;
    }

    &.one {
      margin-top: 50px;
      border-bottom: 10px solid #6aaffd;

      .card-circle {
        border: 10px solid #6aaffd;
      }

      h5 {
        color: #6aaffd;
      }
    }

    &.two {
      margin-top: 100px;
      border-bottom: 10px solid #ffa44b;

      .card-circle {
        border: 10px solid #ffa44b;
      }

      h5 {
        color: #ffa44b;
      }
    }

    &.three {
      margin-top: 50px;
      border-bottom: 10px solid #f46b6b;

      .card-circle {
        border: 10px solid #f46b6b;
      }

      h5 {
        color: #f46b6b;
      }
    }

    &.four {
      margin-top: 100px;
      border-bottom: 10px solid #37afc2;

      .card-circle {
        border: 10px solid #37afc2;
      }

      h5 {
        color: #37afc2;
      }
    }

    .card-img-top {
      margin-top: 20px;
      margin-bottom: 10px;
      width: 150px;
      height: 140px;
    }
  }
}